@import "tailwindcss";

@theme {
    --color-primary: #172dba;
    --color-background-light: #f6f6f8;
    --color-background-dark: #111321;
    --font-display: "Inter", sans-serif;
    --font-body: "Inter", sans-serif;
}

/* Font face imports are handled in layout.tsx via Google Fonts */

body {
    font-family: var(--font-body);
}